---
layout: default
---
<!DOCTYPE HTML>
<html>
 <head>
  <title>Nathan and Tali</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="/bower_components/modernizr/modernizr.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700|Playfair+Display:400,700,900,400italic,700italic,900italic|Rokkitt:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="static/css/screen.css">
  <script src="https://maps.googleapis.com/maps/api/js"></script>
 </head>

 <body class="body">
  <nav class="nav">
   <div class="logo-mod">
    <img src="/static/img/logo.svg" class="logo">
   </div>
  </nav>

    {{ content }}

  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="static/js/base.js"></script>

 </body>

</html>
